.color {
    color: red;
    text-align: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input {
    width: 500px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}